<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.orangeshare.Dao.ArticleMapper" >
    <insert id="addArticle" parameterType="com.example.orangeshare.Pojo.Article">
          insert into article(id,aid,sort,title,des,titles,deses,imgs) values(#{id},#{aid},#{sort},#{title},#{des},#{titles},#{deses},#{imgs})
    </insert>
     <delete id="deleteArticle">
          delete from article where id=#{id} and aid=#{aid}
      </delete>
    <select id="getArticle"  resultType="com.example.orangeshare.Pojo.Article">
          select * from article where id=#{id} and aid=#{aid}
    </select>
    <update id="setCollections">
          update article set collections=collections+#{num} where id=#{id} and aid=#{aid}
    </update>
    <update id="setStars">
          update article set stars=stars+#{num} where id=#{id} and aid=#{aid}
    </update>
    <select id="getArticles" parameterType="String" resultType="com.example.orangeshare.Pojo.Article">
          select * from article where id=#{id}
    </select>
    <select id="index" resultType="com.example.orangeshare.Pojo.Article">
          select * from article  order by stars limit 0,20
    </select>
    <select id="getBySort" parameterType="int" resultType="com.example.orangeshare.Pojo.Article">
          select * from article where sort=#{sort}
    </select>
</mapper>